:root {
    --cor-de-fundo: #25294A;
    --cor-do-card: #292A48;
    --fonte-principal: 'Poppins', sans-serif;
    --cor-secundaria: #318A94;
    --cor-de-fundo-login: #272D44;
    --cor-do-botao: #016EB5;
    --cor-do-card-secundaria: #191E3D;
    --cor-sidebar: #202442;
    --cor-azul-belt: #46DBE5;
    --cor-card-alunos: #913BE6;
    --cor-card-receita: #46D5A9;
    --cor-card-proxima-aula: #3086F5;
    --cor-card-avisos: #EFA387;
}

body {
    --cor-de-fundo: #020030;
    font-family: var(--fonte-principal);
}

