.header_cards {
    width: 100%;
    height: 100px;
    background-color: var(--cor-do-card);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
}

.card_alunos {
background-color: var(--cor-card-alunos);
    width: 15%;
    height: 80%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_receita {
    background-color: var(--cor-card-receita);
        width: 15%;
        height: 80%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.card_proxima_aula {
        background-color: var(--cor-card-proxima-aula);
            width: 15%;
            height: 80%;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
}

.card_avisos {
            background-color: var( --cor-card-avisos);
                width: 15%;
                height: 80%;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
}

.texto_card {
    display: flex;
    color: white;
    font-weight: bolder;
}

.cards_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--cor-de-fundo);
    height: 45vh;
    margin-top: 10px;
    align-items: center;
}

.faixa_dos_alunos {
    width: 450px;
    height: 250px;
    background-color: var(--cor-do-card);
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.receita_despesa {
    width: 450px;
    height: 250px;
    background-color: var(--cor-do-card);
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.ultimo_card {
    width: 1000px;
    height: 250px;
    background-color: var(--cor-do-card);
    align-self: center;
    border-radius: 10px;
}