body {
  background-color: var(--cor-de-fundo-login);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

.trackbelt {
  color: white;
  font-size: 40px;
  text-align: center;
}

.faca_login {
  text-align: center;
  margin-top: 5px;
  color: var(--cor-secundaria);
  font-weight: bolder;
}

.login {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.username, .password {
  padding: 10px;
  border-radius: 25px;
  border: none;
  text-align: left;
  outline: none;
}

.forgot_password {
  color: white;
  font-size: 10px;
  text-align: center;
}

.button_login {
  background-color: var(--cor-do-botao);
  color: white;
  font-size: 17px;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  border: none;
}


.sign_up, .sign_up_destaque {
  color: white;
}

.sign_up_destaque {
  text-decoration: underline;
}