.table_content {
    border-collapse: collapse;
    border: none;
    width: 100%;
    margin-top: 25px;
    background-color: var(--cor-do-card);
    border-radius: 10px;
    
  }
  
.content {
    margin-top: 15px;
}

.table-header {
    background-color: var(--cor-do-card);
    color: white;   
}

table th td {
    padding: 1px 5px;
    text-align: center;   
}

table td img {
    width: 20px;
}

td {
    text-align: center;
    background-color: var(--cor-do-card);
    padding: 2px;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
